/* Tulis code pada bagian2nya dan bila perlu beri komentar */


/* CSS header */
.carousel-item img{
    width: 100%;
    height: 600px;
    
}
.navbar-brand img{
    width: 247px;
    height: 56px;
}
/* CSS Content */


/* CSS profile */


/* CSS Footer */


/* CSS Media Tablet */



/* CSS Media Phone */
